.canvas-wrapper {
  position: relative;
  width: 100%;
  height: 260px;
}

#netCanvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
}

.legend-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  vertical-align: middle;
}

.legend-success {
  background-color: #16a34a;
}

[data-bs-theme="dark"] .legend-success {
  background-color: #22c55e;
}

.legend-x {
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 3px;
}

#detailTarget {
  max-width: 240px;
}
